* {
  margin: 0;
  padding: 0;
  border: 0;
}

#root{
  background: rgba(116, 113, 113, 0.08);
}

@media (max-width: 735px){
  #root{
    background: #fafafa;
  }
}

.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.post__avatar{
  margin: 15px;
}

.flex{
  justify-content: center;
}

.app__container{
  display: flex;
  justify-content: center;
}

/* @media (max-width: 960px) {
  .app__container{
    margin: 0 2.5%;
  }
}

@media (min-width: 1250px) {
  .app__container{
    margin: 0 10%;
  }
}

@media (min-width: 1450px) {
  .app__container{
    margin: 0 15%;
  }
}

@media (min-width: 1700px) {
  .app__container{
    margin: 0 20%;
  }
} */

/* width */
/* .modalScrollbar::-webkit-scrollbar,
.postImg_and_comments_container::-webkit-scrollbar{
  width: 12px;
} */

/*ADDPOST, CHANGE AVATAR IMG*/
/* Track */
/* .modalScrollbar::-webkit-scrollbar-track,
.postImg_and_comments_container::-webkit-scrollbar-track {
  margin: 14px;
  background: rgba(125, 105, 166, 0.3);
  border-radius: 30px;
} */
 
/* Handle */
/* .modalScrollbar::-webkit-scrollbar-thumb,
.postImg_and_comments_container::-webkit-scrollbar-thumb {
  background: rgba(17, 19, 37, 0.7);
  border-radius: 30px;
} */

/* Handle on hover */
/* .modalScrollbar::-webkit-scrollbar-thumb:hover,
.postImg_and_comments_container::-webkit-scrollbar-thumb:hover {
  background: rgba(17, 19, 37, 0.8); 
} */

/*APP*/
/* html::-webkit-scrollbar{
  width: 10px;
}

html::-webkit-scrollbar-track{
  background: linear-gradient(#cebd46, #c500ff);
}

html::-webkit-scrollbar-thumb{
  background: rgba(39, 47, 71, .9);
  border-radius: 30px;
}

html::-webkit-scrollbar-thumb:hover{
  background: rgba(17, 19, 37, .95);
} */

.scrollbar-grey::-webkit-scrollbar{
  width: 17px;
}

.scrollbar-grey::-webkit-scrollbar-track{
  background: rgb(61 61 61);
}