.suggests_container{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.suggests_containerTitle{
    margin-bottom: 20px;
    font-weight: 600;
}

.suggests_section{
    width: 100%;
    min-height: 60vh;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    background: #fff;
    margin-bottom: 40px;
}

.suggests_user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.suggests_userInfo{
    display: flex;
}

.suggests_userInfoAvatar{
    margin-right: 15px;
    width: 44px !important;
    height: 44px !important;
}

.suggests_userInfoTxt{
    display: flex;
    flex-direction: column;
    margin-top: -1px;
}

.suggests_userInfoTxt > span{
    display: block;
}

.suggests_userUsername{
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    line-height: 18px;
}

.suggests_userFullName{
    line-height: 18px;
    margin-top: 2px;
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 400;
}

.suggests_userPopular{
    line-height: 16px;
    margin-top: 2px;
    color: #8e8e8e;
    font-size: 12px;
    font-weight: 400;
}

.suggests_followBtn{
    background: #0095f6;
    color: white;
    border: none;
    padding: 6px 11px;
    font-weight: 600;
    height: fit-content;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    position: relative;
}

.suggests_followingBtn{
    border: 1px solid #dbdbdb;
    padding: 6px 11px;
    font-weight: 600;
    height: fit-content;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    color: #262626;
    background: transparent;
    position: relative;
}

.suggests_loadingFollowMasterContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105%;
    height: 105%;
    background: rgba(255, 255, 255, 0.562);
    border-radius: 4px;
}

.suggests_loadingFollowContainer{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.suggests_loadingFollow{
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 50%;
    border-left: 3px solid transparent;
    animation: ggh .5s linear infinite;
}

@keyframes ggh {
    0%{
        transform: rotateZ(0deg);
    }

    100%{
        transform: rotateZ(360deg);
    }
}

@media (max-width: 650px){
    .suggests_containerTitle{
        margin: 20px 20px 5px;
    }

    .suggests_section{
        border-radius: none;
        border: none;
        background: none;
    }

    .suggests_container{
        padding: 0;
    }
}