.suggests_container{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.suggests_containerTitle{
    margin-bottom: 20px;
    font-weight: 600;
}

.suggests_section{
    width: 100%;
    min-height: 60vh;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    background: #fff;
}

.suggests_user{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.suggests_userInfo{
    display: flex;
}

.suggests_userInfoAvatar{
    margin-right: 15px;
    width: 44px !important;
    height: 44px !important;
}

.suggests_userInfoTxt{
    display: flex;
    flex-direction: column;
    margin-top: -1px;
}

.suggests_userInfoTxt > span{
    display: block;
}

.suggests_userUsername{
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    line-height: 18px;
}

.suggests_userFullName{
    line-height: 18px;
    margin-top: 2px;
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 400;
}

.suggests_userPopular{
    line-height: 16px;
    margin-top: 2px;
    color: #8e8e8e;
    font-size: 12px;
    font-weight: 400;
}

.suggests_followBtn{
    background: #0095f6;
    color: white;
    border: none;
    padding: 6px 11px;
    font-weight: 600;
    height: fit-content;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.suggests_followingBtn{
    border: 1px solid #dbdbdb;
    padding: 6px 11px;
    font-weight: 600;
    height: fit-content;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    color: #262626;
    background: transparent;
}

@media (max-width: 650px){
    .suggests_containerTitle{
        margin: 20px;
    }

    .suggests_section{
        border-radius: none;
        border: none;
        background: none;
    }

    .suggests_container{
        padding: 0;
    }
}