.editAcc_container{
    width: 100%;
    max-width: 700px;
    margin: 40px 0;
    padding: 55px 80px 10px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: white;
}

.editAcc_avatarContainer{
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.editAcc_avatar{
    width: 50px !important;
    height: 50px !important;
}

.editAcc_avatar:active{
    opacity: .7;
}

.editAcc_changeProfilePic{
    margin-left: 35px;
}

.editAcc_changeProfilePic > a{
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
    color: #262626;
}

.editAcc_changeProfilePic > button{
    background: none;
    color: #0095f6;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.editAcc_changeProfilePic > a:active, button:active{
    opacity: .7;
}

/*FORM*/

/* .editAcc_form{

} */

.editAcc_field{
    display: flex;
    margin: 30px;
    margin-left: 0;
}

.editAcc_fieldName{
    flex: 0 0 160px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 6px;
    padding-right: 32px;
    text-align: right;
}

.editAcc_fieldName > label{
    color: #262626;
}

.editAcc_inputContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 355px;
}

.editAcc_input{
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    font-size: 16px;
    padding: 0 10px;
    height: 32px;
}

.editAcc_inputDesc{
    color: #8e8e8e;
    font-size: 12px;
    line-height: 16px;
    margin: -2px 0 -3px;
    font-weight: 400;
}

.editAcc_formSubmit[disabled]{
    opacity: .3;
    cursor: default;
}

@media (max-width: 850px) {
    .editAcc_container{
        padding: 0;
        background: none;
        border: none;
    }

    .editAcc_field{
        flex-direction: column;
        margin-left: 30px;
    }

    .editAcc_fieldName{
        flex: 0;
        text-align: left;
        margin-bottom: 7px;
    }

    .editAcc_inputDesc{
        margin-left: 2px;
    }

    .editAcc_avatarContainer{
        margin-left: 30px;
    }
}