.feed_container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

@media (max-width: 650px){
    .feed_container{
        margin-top: 0;
    }
}