.header{
    border-bottom: 1px solid #dbdbdb;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    object-fit: contain;
    height: 60px;
    display: flex;
    justify-content: center;
}

.header__container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    max-width: 935px;
    width: 100%;
}

.headerlogo{
    margin-right: 127px;
    max-width: 110px;
    margin-bottom: -5px;
}

.headerlogo:active{
    opacity: .5;
}

@media (max-width: 450px) {
    .header__container{
        margin: 0 2%;
    }
}

.header__options{
    display: flex;
    gap: 22px;
    align-items: center;
}

.header__svgBtn {
    cursor: pointer;
}

.header__svgBtn:active{
    opacity: .5;
}